.body{
    margin: 0%;
    background-color: rgba(226, 19, 19, 0.295);
}

.header ul{
    display: flex;
    justify-content: center;
    text-decoration: none;
    align-items: flex-end;
}

.header li{

    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    width: 140px;
}